doctype
html
  head
    title= title
    meta(name="description" content="#{ description }")
    meta(name="keywords" content="#{ keywords }")
    //- TODO: serve normalize locally
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    //.container
    //  nav.text-right
    //    //- `current.source` is provided by harp
    //    a(class="#{ current.source == 'index' ? 'active' : '' }" href="/") Home
    //    a(class="#{ current.source == 'about' ? 'active' : '' }" href="/about") About
    //- individual page templates inserted below
    .body-wrap
       != yield
    != partial("_footer")